:root {
    --bg-darker: #1f2937;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 6rem;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#history-list {
    background-color: var(--bg-darker); /* تطبيق المتغير هنا */
    color: white; /* تغيير اللون ليكون مناسب مع الخلفية */
    padding: 10px;
    border-radius: 5px;
}

ul li {
    background: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3700b3;
}

@media (max-width: 768px) {
    header {
    
            margin-top: 13rem;
    } 
}
